@tailwind base;
@tailwind components;

html {
  @apply bg-gray-700 antialiased;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

.button-pink {
  @apply bg-brand-450 px-4 py-2 rounded text-white uppercase font-semibold tracking-wider shadow;
}

.button-pink:hover {
  @apply bg-brand-300;
}

.button-white {
  @apply bg-white px-4 py-2 rounded text-gray-700 uppercase tracking-wider shadow font-semibold;
}

.button-white:hover {
  @apply bg-gray-200;
}

.form-element {
  @apply mb-4;
}

.form-element label:not(.radio), .form-element-label {
  @apply uppercase text-sm tracking-wide font-semibold block mb-1;
}

.form-element label.radio {
  @apply block mb-2;
}

.form-element label.radio input {
  @apply mr-1;
}

.form-element input:not([type='radio']),
.form-element textarea {
  @apply bg-white text-gray-800 rounded-lg block px-4 py-3 w-full;
}

.form-element-gray {
  @apply mb-4;
}

.form-element-gray label:not(.radio) {
  @apply uppercase text-sm tracking-wide font-semibold block mb-1;
}

.form-element-gray label.radio {
  @apply block mb-2;
}

.form-element-gray label.radio input {
  @apply mr-1;
}

.form-element-gray input:not([type='radio']),
.form-element-gray textarea {
  @apply bg-gray-200 rounded-lg block px-4 py-3 w-full;
}

.required::after {
  @apply text-red-600;
  content: '*';
}

.content h1 {
  @apply font-bold mt-6 mb-1 text-2xl;
}

.content h2 {
  @apply font-bold mt-2 mb-1 text-xl;
}

.content h3 {
  @apply font-bold;
}

.content p {
  @apply mb-4;
}

.content a {
  @apply text-brand-600;
}

.content a:hover {
  @apply text-brand-800 underline;
}

.content ul {
  @apply mb-3 -mt-3;
}

.content li {
  @apply list-disc mb-1 ml-6;
}

.content table th, td{
  @apply pr-4
}

@tailwind utilities;

@layer utilities {
  .text-columns-1 {
    columns: 1;
  }
  .text-columns-2 {
    columns: 2;
  }
  .text-columns-3 {
    columns: 3;
  }
}
